<div class="ToolBarAnnonceImmo">
    <div class="HideListButtons">
        <button class="AnnoncesMasquees">Annonces Masquées</button>
        <button class="AnnoncesListees">Annonces Listées</button>
    </div>
</div>

<div class="HideAnnonceInterface">
    <div class="HideAnnonceManager">
        
    </div>
</div>

<div class="ListAnnonceInterface">
    <div class="ListAnnonceManager">
        <div class="TitleTabsClose">
            <p class="Title">Annonces listées</p>
            <div class="TabsClose">
                <div class="TabsAddTab">
                    <div class="Tabs">
                        <div class="Tab">
                            <p class="TabName">Ongle&nbsp;1</p>
                            <button class="DeleteTab">X</button>
                        </div>
                        <div class="Tab">
                            <p class="TabName">Onglet&nbsp;2</p>
                            <button class="DeleteTab">X</button>
                        </div>
                        <div class="Tab">
                            <p class="TabName">Onglet&nbsp;3</p>
                            <button class="DeleteTab">X</button>
                        </div>
                    </div>
                    <div class="AddTabButton">
                        <button>Ajouter onglet</button>
                    </div>
                </div>
                <button class="CloseListAnnonces">X</button>
            </div>
        </div>
        <div class="ListAnnonceMenusBar">
            <div class="ListAnnonceMenus">
                <div class="Menus">
                    <div class="Menu">
                        <p>Menu 1</p>
                        <button>X</button>
                    </div>
                    <div class="Menu">
                        <p>Menu 2</p>
                        <button>X</button>
                    </div>
                </div>
                <div class="MenusControlPanel">
                    <button>Ajouter menu</button>
                </div>
            </div>
        </div>
    </div>
</div>