<div class="ContentAnnoncesImmo">
    <div class="Annonce">
        <div class="MainLine">
            <h2 class="TitleAnnonce">Titre de l'annonce</h2>
            <div class="ControlButtons">
                <button class="AddToListButton">+</button>
                <button class="HideToListButton">X</button>
            </div>
        </div>

        <div class="TemplateAnnonceBody">
            <!-- Carrousel d'images -->
            <div class="Carousel">
                <div class="CarouselInner">
                    <!-- Les slides seront ajoutés ici dynamiquement -->
                </div>
                <button class="PrevButton">&#10094;</button>
                <button class="NextButton">&#10095;</button>
                <div class="Indicators">
                    <!-- Les dots seront ajoutés ici dynamiquement -->
                </div>
            </div>

            <div class="Lines">
                <!-- Ligne de prix -->
                <div class="CostLine">
                    <h3 class="Cost">Prix</h3>
                    <p class="SquareCost">Prix au m²</p>
                </div>

                <!-- Ligne d'habitabilité -->
                <div class="SurfaceLine">
                    <p class="Surface">Surface (FAI ?)</p>
                    <p class="NbRooms">Nb pieces</p>
                </div>

                <!-- Type de bien -->
                 <div class="TypeOfPropertyContainer">
                    <p class="TypeOfPropertyMarkUp">Type de bien</p>
                    <p class="NewOccasion">Neuf/Occasion</p>
                 </div>

                 <!-- Localisation -->
                  <div class="Location">
                     <p class="CityAnnonce">Ville</p>
                     <p class="Aménities">Commodités</p>
                  </div>

                  <!-- DPE/GES -->
                   <div class="DPE_GES">
                      <p class="DPE">DPE</p>
                      <p class="GES">GES</p>
                   </div>

                   <!-- DPE/GES -->
                    <div class="UpdateDate">
                       <p class="UpdateSource">M.A.J Source</p>
                       <p class="UpdateReperimmo">M.A.J ReperImmo</p>
                    </div>

                    <div class="LinkMarkUp">
                        <a href="#" class="LinkValue" target="_blank">Visiter l'annonce</a>
                        <button class="Extend">-></button>
                    </div>
                    
            </div>
        </div>
    </div>
</div>
