<div class="MenusBar">
    <!-- <p class="LOGO">LOGO</p> -->
    <div class="Home">
        <button><img src="../../Reperimmo/Front/REPERIMMO.png" alt="LOGO" class="LOGO"></button>
    </div>
    <div class="GlobalMenus">
        <button class="MenuButton" id="AnnoncesImmo">Annonces Immobilières</button>
        <button class="MenuButton" id="Menu2">Menu2</button>
        <button class="MenuButton" id="Menu3">Menu3</button>
    </div>
    <div class="Account">
        <button>Compte</button>
    </div>
</div>
