
.SideBarMenus{
    width: 250px;
    height: calc(100vh - 2px);

    border: 1px solid #FFFFFF;

    .LogoAndLabel{
        height: 50px;

        display: flex;
        flex-direction: row;

        .Label{
            color: #666666;

            h4{
                color: #FFFFFF;
            }
        }
    }
        .GlobalSearch{
            
            width: 80%;
            height: 30px;
            
            background-color: #FFFFFF;
            color: #000000;

            border: 1px solid #000000;
            border-radius: 15px;

            display: flex;
            align-items: center;

            margin-left: 10px;

            button{
                background-color: #FFFFFF00;

                border: none;
                img{
                    width: 20px;
                    height: 20px;

                    margin-left: 5px;
                }
            }

            input{
                background-color: #FFFFFF00;

                border: none;

                margin-left: 5px;
            }

        }

        .EstateTools{
            margin-top: 20px;
            margin-left: 20px;


            .EstateSearch{

                background-color: #FFFFFF00;
                color: #FFFFFF;

                display: flex;
                flex-direction: row;
                align-items: center;

                border: none;

                margin-top: 10px;
                margin-left: 10px;
            }

            .EstateSearchIcon{
                width: 30px;
                height: 30px;
            
                background-color: #FFFFFF;
            
                border-radius: 10px;
            
                margin-right: 10px;
            }

        }

}
